<!doctype html>
<html>
<head>
   <tittle>dota2, 菜鸟</tittle>
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <style>
   *{
      margin: 5px;
      
   }
   h1{
   	text-align: center;
   }
   h3{
   	text-align: center;
   }
   blockquote{
   	background: orange;
   	text-align: center;
   }
   </style>
</head>
<body>
{{{body}}}
</body>
</html>